* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.cabecera{
    background-color: black;
    display: flex;
}

.cabecera__logo {
    width: 231px;
    height: 70px;
    background-image: url("../image/logo2.png") ;
    background-size: cover;
    display: inline-block;
}

.cabecera__nav{
    width: 1000px;
    height: 50px;
    background-color: black;
    list-style: none; 
    display: inline-block;
    text-align: center;
    padding: 10px;
}


.cabecera__nav ul li{
    width: 125px;
    color: white;
    list-style: none; 
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: grey;
}

.cabecera__nav ul li a{
    color: white;
    font-weight: bold;
}

.cuerpo{
    background-color: bisque;
    height: 500px;
    padding: 20px;
}

.cuerpo article{
    background-color: grey;
    width: 100px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}


.cuerpo__label{
    padding: 0px 10px 0px 0px;
    width: 30px;
}

.pieDePagina {
    background-color: gray;
    text-align: center;
    
}

.pieDePagina__redes {
    text-align: center;
}

.pieDePagina img{
    height: 16px;
    width: 16px;
}

 /*@font-face {
    font-family: ;
    src: url();
}*/