:root{
    /*Colores*/
    --Negro-Principal: rgb(33, 37, 41); 
    --Rojo-fuente: #d50817;

    /*Fuentes*/
    --Fuente-Principal: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.txtcolor {
    color: var(--Rojo-fuente);
}

.grid {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";    
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
  }

a {
    text-decoration: none;
}

header {
    grid-area: header;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Negro-Principal);
    display: flex;
    /*border: 5px solid;*/
}

.cabecera__logo {
    width: 231px;/*width: 231px;*/
    height: 70px;
    background-image: url("../image/inicio_logo.jpg") ;
    background-size: cover;
    display: inline-block;    
}

.cabecera__nav{
    width: 75%;
    height: 50px;
    background-color: var(--Negro-Principal);
    list-style: none; 
    display: inline-block;
    text-align: center;
    padding: 10px;
}


.cabecera__nav ul li{
    width: 125px;
    color: white;
    list-style: none; 
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--Negro-Principal);
}

.cabecera__nav ul li a{
    color: var(--Rojo-fuente);
    font-family: var(--Fuente-Principal);
    /*font-weight: bold;*/
}

main {
    background-color: var(--Negro-Principal);
    /*grid-area: main;
    flex-direction: row;
    background-color: bisque;
    background-image: url("../image/img-inicio.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;    
    padding: 20px;
    height: auto;
    display: flex;+*/
    /*border-left: 5px solid;    
    border-right: 5px solid;    */
}


.cuerpo2{
    background-color: bisque;
    background-image: url("../image/img-inicio.jpg") ;
    background-size: cover;
    height: 300px;
    padding: 20px;
}

.cuerpo article{
    background-color: rgb(128, 128 ,128, 0.3);
    width: 100px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}

.somos {
    /*background-color: var(--Negro-Principal);*/
    background-color: rgb(33 , 37 , 41, 0.3);
    color: white;
    text-align: center;
    height: 150px;
    border-radius: 20px;
}

.somos h2{
    padding: 20px 0px 20px 0px;
}

.somos p{
    padding: 0px 0px 20px 0px;
}

.cuerpo__label{
    padding: 0px 10px 0px 0px;
    width: 30px;
}

/*
.pieDePagina {
    background-color: #212529;
    text-align: center;
    width: auto;
    
} */

footer {
    grid-area: footer;
    flex-direction: column;
    background-color: var(--Negro-Principal);
    text-align: center;
    width: auto;
    display: flex;
    background-image: linear-gradient(to bottom, var(--Negro-Principal), #404142);
    /*border: 5px solid;*/  
}

footer h2{
    text-align: center;
    color: var(--Rojo-fuente);
    padding: 20px 0px 20px 0px;
    font-family: var(--Fuente-Principal)
}

footer p{
    text-align: center;
    font-size: x-small;
    color: white;
    padding: 5px 0px 5px 0px;  
    font-family: var(--Fuente-Principal);  
}

footer section {
    text-align: center;    
}


.pieDePagina__redes {
    display: flex;   
    align-items: center;     
    list-style: none;
    justify-content: center;
    padding-bottom: 20px;
}

.pieDePagina__redes li {
    margin: 0px 20px 0px 20px;
}

.pieDePagina__redes li img{
    height: 32px;
    width: 32px;
    display: inline-block;
    text-align: center;
    transition: all 0.05s;
}

.pieDePagina__redes li img:hover{
    height: 40px;
    width: 40px;    
    transform: rotate(15deg);
}

.ubicacion__map {
    background-color: white;  
}

.ubicacion__descripcion{
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: #d50817;    
}

.ubicacion__descripcion img{
    height: 64px;
    width: 64px;
}

.ubicacion__map iframe{
    height: 500px;
    width: 100%;
}

.servicios{
    display: flex;
    align-items: center;
    width: 100%;
}

.servicios article{
    display: inline-block;
}


 /*@font-face {
    font-family: ;
    src: url();
}*/

/*
@media screen and (max-width: 1024px) {
.grid {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";    
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    row-gap: 0px;
    column-gap: 0px;
    }

    header {
    grid-area: header;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;        
    display: flex;    
    }
    
    .cabecera__nav ul li{
    padding: 0px;
    width: 100px;
    }

    .somos {
        height: 200px;
        overflow: scroll;
    }

}


@media screen and (max-width: 580px) {
.grid {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";    
    grid-template-rows: 3fr 3fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    row-gap: 0px;
    column-gap: 0px;
    }

    header {
    grid-area: header;
    flex-direction: column;
    justify-content:space-around;    
    align-items: center;        
    display: flex;
    }

    .somos {
        height: 300px;
        overflow: scroll;
    }

   /* .cabecera__nav{
        width: 90%;
    }      
  }*/
/*
  @media screen and (max-width: 300px) {
    .grid {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";    
        grid-template-rows: 3fr 3fr 1fr;
        grid-template-columns: 1fr;
        height: 100vh;
        row-gap: 0px;
        column-gap: 0px;
        }
    
        header {
        grid-area: header;
        flex-direction: column;        
        justify-content: start;
        align-items: center;        
        display: flex;    
        }
    
        .cabecera__nav{
            width: 90%;
        }      

        .somos {
            height: 380px;
            overflow: scroll;
        }
      }
      */